<div class="input-fixed">
  <input
      class="form-control"
      type="text"
      placeholder="输入宝可梦名字或者ID"
      [(ngModel)]="searchWord"
  >
  <button class="form-btn" (click)="searchPokemon(searchWord)">
    <i class="anticon anticon-search"></i>
  </button>
  <button class="form-btn" (click)="surprisePokemon()">来点惊喜</button>
</div>
<div>
  <ul>
    <li *ngFor="let pokemon of pokemons">
      <a [routerLink]="['/pokemon/pokemon-list', pokemon.id]">{{ pokemon.id }}</a>
      <div>{{ pokemon.name }}</div>
    </li>
  </ul>
</div>