<nav id="nav-aside">
  <ul>
    <app-search-pokemon></app-search-pokemon>
    <li>
      <a [ngClass]="{active: selectId === 1}"
         (click)="locationPm('pokemonGen1', 1)">
        <i class="pokeball-icon">@</i>关都 (第一世代)
      </a>
    </li>
    <li>
      <a [ngClass]="{active: selectId === 2}"
         (click)="locationPm('pokemonGen2', 2)">
        <i class="pokeball-icon">@</i>城都 (第二世代)
      </a>
    </li>
    <li>
      <a [ngClass]="{active: selectId === 3}"
         (click)="locationPm('pokemonGen3', 3)">
        <i class="pokeball-icon">@</i>丰缘 (第三世代)
      </a>
    </li>
    <li>
      <a [ngClass]="{active: selectId === 4}"
         (click)="locationPm('pokemonGen4', 4)">
        <i class="pokeball-icon">@</i>神奥 (第四世代)
      </a>
    </li>
    <li>
      <a [ngClass]="{active: selectId === 5}"
         (click)="locationPm('pokemonGen5', 5)">
        <i class="pokeball-icon">@</i>合众 (第五世代)
      </a>
    </li>
    <li>
      <a [ngClass]="{active: selectId === 6}"
         (click)="locationPm('pokemonGen6', 6)">
        <i class="pokeball-icon">@</i>卡洛斯 (第六世代)
      </a>
    </li>
    <li>
      <a [ngClass]="{active: selectId === 7}"
         (click)="locationPm('pokemonGen7', 7)">
        <i class="pokeball-icon">@</i>阿罗拉 (第七世代)
      </a>
    </li>
  </ul>
</nav>
<main id="main-content">
  <pokemon-list [pokemons]="pokemons"></pokemon-list>
  <router-outlet></router-outlet>
</main>
