<header id="nav-header">
    <a class="logo" [routerLink]="['/']">Pokemon</a>
    <a class="nav-list" [routerLink]="['/']">主页</a>
    <a class="nav-list" [routerLink]="['/pokemon/pokemon-list']">列表</a>
    <a class="nav-list" [routerLink]="['/pokemon/news']">新闻</a>
</header>
<nav id="nav-aside">
  <ul>
    <li><a [routerLink]="['/']"><i class="pokeball-icon">@</i>关都</a></li>
    <li><a [routerLink]="['/']"><i class="pokeball-icon">@</i>城都</a></li>
    <li><a [routerLink]="['/']"><i class="pokeball-icon">@</i>丰缘</a></li>
    <li><a [routerLink]="['/']"><i class="pokeball-icon">@</i>神奥</a></li>
    <li><a [routerLink]="['/']"><i class="pokeball-icon">@</i>合众</a></li>
    <li><a [routerLink]="['/']"><i class="pokeball-icon">@</i>卡洛斯</a></li>
    <li><a [routerLink]="['/']"><i class="pokeball-icon">@</i>阿罗拉</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
